.card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-page__main-title {
  color: #455162;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}

.card-page .offer-card {
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.card-page .offer-card__description {
  font-size: 18px;
  line-height: 1.6;
}