.show-more {
    font-size: 20px;
    font-weight: 400;
    background-color: #0d42ff;
    color: white;
    border-color: #010837;
    border-radius: 10px;
    padding: 13px 30px;
    cursor: pointer;
    border: 1px solid #010837;
    transition: all 0.3s;
    display: inline-block;
    align-items: center;
}

.show-more:hover {
    background-color: #0f39d3;
}