.offer-card {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.25);
}

.offer-card__tags {
  display: grid;
  gap: 10px;
}

.offer-card__tags_wrap {
  display: flex;
  justify-content: space-between;
}

.offer-card__image {
  height: 139px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.offer-card__sale {
  position: absolute;
  bottom: 9px;
  left: 9px;
}

.offer-card__info {
  padding-top: 20px;
}

.offer-card__title {
  color: #4d535b;
  font-weight: 500;
}

.offer-card__description {
  padding-top: 15px;
  font-weight: 500;
  height: 100px;
  color: #8c8d8f;
}

.offer-card__tag {
  color: #34aadf;
  font-weight: 500;
  font-size: 15px;
}

.offer-card__deadline {
  color: #010837;
  font-weight: 400;
  font-size: 12px;
  padding-top: 15px;
}

.offer-card__amount {
  margin-left: 10px;
}

.offer-card__edit {
  position: absolute;
  top: 9px;
  right: 9px;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}

.offer-card__archive {
  position: absolute;
  bottom: 9px;
  right: 9px;
  background-color: white;
  border-radius: 10px;
  padding: 4px;
}
