.home-page__wrap-offer-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px 21px;
}

.home-page__main-title {
  color: #455162;
  font-size: 50px;
  font-weight: 500;
}

.home-page__about-user {
  color: #2f355c;
  font-size: 15px;
  font-weight: 500;
  opacity: 70%;
  padding-bottom: 12px;
}

.home-page__info-buttons {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  align-items: center;
}

.home-page__guide {
  background-color: white;
  color: #4d535b;
  border-radius: 10px;
  padding: 8px 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.home-page__filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
  margin-bottom: 20px;
}

.home-page__wrap-show-more {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
